.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.hero::after {
  content: "";
  position: absolute;
  height: 100%;
  aspect-ratio: 16 / 9;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.1) 0, transparent 70%);
  z-index: -1;
}

.hero-content {
  text-align: center;
}

.hero-content > :first-child {
  margin-block-start: 0;
}

.hero-content > * {
  margin-block-start: 1.5rem;
}

.hero-title {
  background: linear-gradient(146deg, #fff, #757a7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: clamp(3rem, 8vw, 5rem);
  font-weight: 700;
}

.hero-subtitle {
  color: var(--muted);
}

.hero-links {
  display: flex;
  gap: 1em;
}
